<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chi tiết sản phẩm - Case MIK BARBATOS</title> <!-- Tên sản phẩm động -->

    <!-- Giữ nguyên các thẻ Link CSS từ trang chủ -->
    <link rel="icon" type="image/png" href="img/logo.png">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>

<!-- --- START HEADER (Giống trang chủ) --- -->
<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="my_account.html"><i class="fa fa-user"></i> My Account</a></li>
                        <li><a href="404.html"><i class="fa fa-heart"></i> Wishlist</a></li>
                        <li><a href="cart.html"><i class="fa fa-user"></i> My Cart</a></li>
                        <li><a href="checkout.html"><i class="fa fa-user"></i> Checkout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-branding-area1">
    <div class="container1">
        <div class="row1">
            <div class="logo1">
                <a href="./"><img src="img/logo1.png" alt="Logo" /></a>
            </div>
            <div class="cart">
                <a href="cart.html"><i class="fa fa-shopping-cart" style="font-size:30px;color:red"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.php">Home</a></li>
                    <li><a href="shoppage">Shop page</a></li>
                    <li class="active"><a href="single-product.html">Product</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- --- END HEADER --- -->

<!-- --- START SINGLE PRODUCT AREA --- -->
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Chi tiết sản phẩm</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">

            <!-- Sidebar bên trái (Optional) -->
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm kiếm</h2>
                    <form action="">
                        <input type="text" placeholder="Nhập từ khóa...">
                        <input type="submit" value="Search">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm mới</h2>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Mainboard Gigabyte</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$800.00</del>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Nội dung chính sản phẩm -->
            <div class="col-md-8">
                <div class="product-content-right">

                    <!-- Breadcrumb -->
                    <div class="product-breadcroumb">
                        <a href="">Home</a>
                        <a href="">Case PC</a>
                        <a href="">Case MIK BARBATOS</a>
                    </div>

                    <!-- Ảnh và thông tin cơ bản -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="img/product-2.jpg" alt="">
                                </div>
                                <!-- Gallery nhỏ dưới ảnh chính -->
                                <div class="product-gallery">
                                    <img src="img/product-thumb-1.jpg" alt="">
                                    <img src="img/product-thumb-2.jpg" alt="">
                                    <img src="img/product-thumb-3.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">Case MIK BARBATOS</h2>
                                <div class="product-inner-price">
                                    <ins>$150.00</ins> <del>$225.00</del>
                                </div>

                                <form action="" class="cart">
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                    </div>
                                    <button class="add_to_cart_button" type="submit">Thêm vào giỏ</button>
                                </form>

                                <div class="product-inner-category">
                                    <p>Danh mục: <a href="">Case PC</a>. Từ khóa: <a href="">gaming</a>, <a href="">mik</a>, <a href="">barbatos</a>.</p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mô tả</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đánh giá (3)</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <!-- Tab Mô tả -->
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Mô tả sản phẩm</h2>
                                            <p>Case MIK BARBATOS với thiết kế hiện đại, hỗ trợ tản nhiệt nước 360mm, kính cường lực trong suốt giúp khoe trọn linh kiện bên trong...</p>
                                        </div>

                                        <!-- Tab Đánh giá (PHẦN BẠN YÊU CẦU) -->
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Đánh giá</h2>

                                            <!-- Danh sách đánh giá cũ -->
                                            <div class="submit-review">
                                                <div class="user-review">
                                                    <p><strong>Nguyễn Văn A</strong> - <span style="color: #FFD700;">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </span> (27/11/2024)</p>
                                                    <p>Sản phẩm rất đẹp, đóng gói cẩn thận. Giao hàng nhanh.</p>
                                                </div>
                                                <hr>
                                                <div class="user-review">
                                                    <p><strong>Trần Thị B</strong> - <span style="color: #FFD700;">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </span> (25/11/2024)</p>
                                                    <p>Case rộng rãi, đi dây dễ dàng. Tuy nhiên quạt đi kèm hơi ồn.</p>
                                                </div>
                                                <hr>

                                                <!-- Form gửi đánh giá mới -->
                                                <h3 style="margin-top: 30px;">Gửi đánh giá của bạn</h3>
                                                <form action="submit_review.php" method="POST"> <!-- Action xử lý PHP -->
                                                    <p><label for="name">Tên:</label> <input name="name" type="text" class="form-control" required></p>
                                                    <p><label for="email">Email:</label> <input name="email" type="email" class="form-control" required></p>

                                                    <div class="rating-choose">
                                                        <p><label for="rating">Đánh giá của bạn</label></p>
                                                        <div class="rating-wrap-post">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <!-- Hoặc dùng select đơn giản -->
                                                        <select name="rating" class="form-control" style="width: 150px; margin-bottom: 15px;">
                                                            <option value="5">5 Sao (Tuyệt vời)</option>
                                                            <option value="4">4 Sao (Tốt)</option>
                                                            <option value="3">3 Sao (Bình thường)</option>
                                                            <option value="2">2 Sao (Tệ)</option>
                                                            <option value="1">1 Sao (Rất tệ)</option>
                                                        </select>
                                                    </div>

                                                    <p><label for="review">Nội dung đánh giá</label>
                                                        <textarea name="review" id="" cols="30" rows="5" class="form-control" required></textarea></p>
                                                    <p><input type="submit" value="Gửi đánh giá" class="btn btn-primary"></p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Sản phẩm liên quan -->
                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Sản phẩm liên quan</h2>
                        <div class="related-products-carousel">
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="img/product-1.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>
                                <h2><a href="">Sony Smart TV - 2015</a></h2>
                                <div class="product-carousel-price">
                                    <ins>$700.00</ins> <del>$800.00</del>
                                </div>
                            </div>
                            <!-- Thêm các sản phẩm khác vào đây -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- --- END SINGLE PRODUCT AREA --- -->

<!-- --- FOOTER (Giống trang chủ) --- -->
<div class="footer-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>Demo <span>IE104</span></h2>
                    <p>Thông tin footer...</p>
                    <div class="footer-social">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <!-- Các cột footer khác giữ nguyên -->
        </div>
    </div>
</div>

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; 2024 IE104. All Rights Reserved. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.easing.1.3.min.js"></script>
<script src="js/main.js"></script>

<!-- Script riêng cho trang chi tiết nếu cần xử lý chọn sao (Nếu dùng UI phức tạp) -->
<script>
    // Ví dụ đơn giản nếu muốn hover đổi màu sao (nếu không dùng select box)
    $('.rating-wrap-post i').hover(function(){
        $(this).css('color', '#FFD700');
        $(this).prevAll().css('color', '#FFD700');
    }, function(){
        // Logic reset màu khi chuột rời đi (tuỳ chọn)
    });
</script>
</body>
</html>